.buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.buttons:nth-child(2) {
  background-color: yellow;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: yellow;
}

input {
  width: 98%;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 20px;
}

.last {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

button {
  height: 60px;
  border: 0.2px solid black;
  font-size: large;
}

button:hover {
  transform: translate(1%, 1%);
}

button:active {
  background-color: orangered;
}

.result {
  background-color: gray;
  color: white;
  font-size: 20px;
  text-align: right;
  align-items: center;
  padding: 5% 2%;
}

.b-orange {
  background-color: rgb(240, 159, 8);
}

.main {
  display: grid;
  grid-template-columns: 40% 30%;
  align-items: center;
  justify-content: center;
  padding: 10% 0;
}

.quotes {
  background-color: rgb(230, 163, 230);
  padding: 2%;
  box-shadow: 10px 7px 5px 12px purple;
}
