.buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.buttons:nth-child(2) {
  background-color: yellow;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 10% 35%;
}

input {
  width: 98%;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 20px;
}

.last {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

button {
  height: 60px;
  border: 0.2px solid black;
  background-color: rgb(225, 178, 90);
  font-size: large;
}

button:hover {
  background-color: orange;
  transform: translate(1%, 1%);
}

button:active {
  background-color: orangered;
}
