body {
  
}

.buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 10% 35%;
}

input {
  width: 98%;
  height: 50px;
}

.last {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

button {
  background-color: plum;
  height: 50px;
}
